<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title> 상세페이지</title>
<link rel="stylesheet" th:href="@{/css/board.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script src="https://kit.fontawesome.com/630c352365.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{header::header-fragment}"></div>
    <div id="container">
            <section class="detail">
                <div id="detail-board">
                    <div class="detail-list">
                        <div class="detail-title">
                            <p>제목입니다제목입니다제목입니다제목입니다제목입니다제목입니다</p>
                        </div>
                        <div class="detail-profile">
                            <img th:src="@{/images/board/avatar.png}" class="profile_img">
                            <div class="profile1">
                                <p class="pp1">jihun</p>
                                <p class="pp2">2024.02.01 </p>
                            </div>
                        </div>
                        <div class="detail_img">
                            <img th:src="@{/images/board/bg_default.png}" class="detail-img">
                        </div>
                        <div class="detail-content">
                            <p>내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다내용입니다</p>
                        </div>
                        <div>
                            <span class="sp4"><i class="fa-regular fa-eye"></i> 1 </span>
                            <span class="sp5"><i class="fa-regular fa-heart"></i> 1 </span>
                            <span class="sp6"><i class="fa-regular fa-comment"></i> 1 </span>
                            <div class="star-container">
                                <i class="fa-solid fa-star"></i> 
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <!-- 댓글입력 -->
                    
                    <form class="reply"
                          method="post"
                          id="comment-form"
                          th:object="${comment}"
                          th:action="@{/resume/write/${id}}" >

                        <img th:src="@{/images/board/avatar.png}" class="write_img">
                        <div class="reply-write">
                            <input type="text"
                                   id="reply-input"
                                   name="content"
                                   placeholder="댓글을 남겨주세요"
                                   th:value="*{content}" />
                        </div>
                        <button type="submit" id="reply-write">댓글</button>
                    </form>
                    
                    <div class="reply-title">댓글 <span>6</span></div>

                    <!-- 댓글목록 -->
                    <div class="reply-container">
                        <div class="reply-list" th:each="comment: ${commentList}">
                            <div class="reply-profile">
                                <img th:src="@{/images/board/avatar.png}" class="profile_img">
                            </div>
                            <div class="reply-content">
                                <p class="p3" th:text="${comment.author}"></p>
                                <p th:text="${comment.content}">
                                </p>
                                <div class="flex-between">
                                    <p class="pp3" th:text="${comment.createdDate}">2024.02.01 </p>
                                    <div class="reply-btns">
                                        <button type="button" class="update">수정</button>
                                        <button type="button" class="delete">삭제</button>
                                    </div>
                                </div>
                        </div>
                    
                    </div>
                
                    <div class="backspace">
<!--                        <a name="boardType" th:href="@{/board/}+${boardType}"><button id="write2">목록</button></a>-->
                    </div>
                </div>
                </div>
            </section>

    </div>
    <div th:replace="~{footer::footer-fragment}"></div>
</body>
<script>
    $(document).ready(function() {
        $("#comment-form").submit(function(e) {
            e.preventDefault();
            const value = $("#reply-input").val();
            const payload = {
                content: value,
            };
            console.log(payload);
        });
    })
</script>
</html>
